
$gallery-link-hover: 0 0 8px rgba(0, 0, 0, .6);
$gallery-img-border-color: #fff;
$gallery-link-title-color: darken(#cacaca, 25%);


.gallery-wrapper {
  margin-top: rem-calc(-20); // reduces space between header and gallery
  margin-bottom: rem-calc(-36); // reduced space between footer and gallery
}

a.gallery-link {
  position: relative;
  margin-top: rem-calc(10);
  text-align: center;
  text-decoration: none;
  margin-top: rem-calc(15);

  > img {
    border-color: $gallery-img-border-color;
    border-style: solid;
    border-width: rem-calc(15);

    &:hover,
    &:focus {
      box-shadow: $gallery-link-hover;
    }
  }
}

.gallery-link-title {
  font-size: rem-calc(16);
  margin: rem-calc(0) 0 rem-calc(30);
  text-align: center;

  > p { color: darken(#cacaca, 25%); }

  breakpoint(medium up) {
    font-size: rem-calc(18);
    margin: rem-calc(5) 0 rem-calc(40);
  }
}