
$gallery-link-hover: 0 0 8px rgba(0, 0, 0, .6);
$gallery-img-border-color: #fff;
$gallery-link-title-color: darken(#cacaca, 25%);


.gallery-wrapper {
  margin-top: rem-calc(-20); // reduces space between header and gallery
  margin-bottom: rem-calc(-36); // reduced space between footer and gallery
}

a.gallery-link {
  position: relative;
  margin-top: rem-calc(10);
  text-align: center;
  text-decoration: none;
  margin-top: rem-calc(15);

  /* > a {
    margin-top: rem-calc(15); */

    > img {
      border-color: $gallery-img-border-color;
      border-style: solid;
      border-width: rem-calc(15);

      &:hover,
      &:focus {
        box-shadow: $gallery-link-hover;
      }
    }
  // }
}

.gallery-link-title {
  font-size: rem-calc(16);
  margin: rem-calc(0) 0 rem-calc(30);
  text-align: center;

  > p { color: darken(#cacaca, 25%); }

  breakpoint(medium up) {
    font-size: rem-calc(18);
    margin: rem-calc(5) 0 rem-calc(40);
  }
}


/* Create four equal columns that floats next to each other */
/* .thumb-column {
  float: left;
  width: 25%;
} */

/* The Modal (background) */
/* .gallery-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
} */

/* Modal Wrapper */
/* .modal-wrapper {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
} */

/* The Close Button */
/* .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
} */

/* .close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
} */

/* Hide the slides by default */
/* .mySlides {
  display: none;
} */

/* Next & previous buttons */
/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
 */
/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* Caption text */
/* .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
} */

/* img.gallery-img {
  opacity: 0.6;
} */

/* .active,
.demo:hover {
  opacity: 1;
} */

/* img.hover-shadow {
  transition: 0.3s;
} */

/* .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
