/* -----------------------------------------------------------------------
    global variables
------------------------------------------------------------------------- */

/* fonts */

$primary-font-stack: 'Varela Round', sans-serif, Georgia, "Times New Roman", Times, serif;
$tertiary-font-stack: Georgia, "Times New Roman", Times, serif; //sans-serif,
$secondary-font-stack: 'Pacifico', cursive, Georgia, "Times New Roman", Times, serif;
// $secondary-font-stack: Georgia, "Times New Roman", Times, serif;


/* primary colors */

$background-color: #fff;

// $primary-color: #fff;
// $secondary-color: #acdfef;
// $tertiary-color: scale-color($secondary-color, $lightness: 80%);


/* paragraph - font size variables */

$font-size-xsmall: rem-calc(10);
$font-size-small: rem-calc(12);
$font-size-medium: rem-calc(16);
$font-size-large: rem-calc(18);


/* navigation */

// $navigationcolor: #222;
// $navigationcolorhover: scale-color($navigationcolor, $lightness: 10%);


/* color layout */

// $backgroundcolor-small: $primary-color;
// $backgroundcolor-large: $secondary-color;
// $foregroundcolor: $primary-color;
// $custompanelcolor: $tertiary-color;
// $custombuttoncolor: $navigationcolor;


/* border */

// $bordercolor: #ecf8f7;
// $bordershadowcolor: #888;


/* wrapper width */

// $row-wrapper: rem-calc(1048);


/* link styles */

$link-color: #39a7cc;




