<!-- FOOTER-START -->
<footer>
  <div class="row row-footer collapse">
    <div class="small-12 medium-12 large-12 columns">
      <ul class="menu expanded text-center footer-nav">
        <li class="title" data-interchange="[assets/interchange/interchange_footerlink_small.html, small], [assets/interchange/interchange_footerlink_medium.html, mediumx]"></li>
        <li><a href="{{root}}/"><i class="fi-home"></i> <span>Home</span></a></li>
        <li><a href="{{root}}/contact.html"><i class="fi-mail"></i> <span>Contact</span></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100007937349167"><i class="fi-social-facebook"></i> <span>Facebook</span></a></li>
        <li><a href="https://uk.linkedin.com/in/mrsartjones"><i class="fi-social-linkedin"></i> <span>Linkedin</span></a></li>
      </ul>
    </div><!-- columns -->
  </div><!-- row -->

  <div class="row row-copyright">
    <div class="small-12 small-centered medium-12 large-12 columns">
      <p class="footer-copyright text-right">Copyright &copy; Alessia Jones 2016 - <script type="text/javascript">document.write(new Date().getFullYear());</script></p>
    </div><!-- columns -->
  </div><!-- row -->
</footer>
<!-- FOOTER-END -->