<!-- HEADER-START -->
<header>

<div class="row row-logo">
  <div class="small-12 small-centered medium-12 large-9 columns">
      <div class="title" data-interchange="[assets/interchange/interchange_title_small.html, small], [assets/interchange/interchange_title_medium.html, medium]"></div>
  </div> <!-- columns -->
</div> <!-- row -->

<div class="title-bar responsive-menu-small" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu menu-button" type="button" data-toggle="responsive-menu">Menu</button>
</div>

<div class="top-bar" id="responsive-menu">

  <div class="top-bar-left">
    <ul class="menu dropdown custom-menu" data-dropdown-menu>
      <li><a href="{{root}}/">Home</a></li>
      <li><a href="#">Gallery</a>
        <ul class="menu custom-menu">
          <li><a href="{{root}}/current_collection.html">Current Work</a></li>
          <li><a href="{{root}}/early_works.html">Early Work</a></li>
        </ul>
      </li>
      <li><a href="{{root}}/buying_art.html">Buying Art</a></li>
      <li><a href="#">Artist</a>
        <ul class="menu custom-menu">
          <li><a href="{{root}}/biography.html">Biography</a></li>
          <li><a href="{{root}}/statement.html">Statement</a></li>
        </ul>
      </li>
      <li class="hide-for-medium"><a href="{{root}}/contact.html">Contact</a></li>
      <!-- <li><a href="{{root}}/error-404.html">Error</a></li> -->
    </ul>
  </div> <!-- top-bar-left -->

  <div class="top-bar-right show-for-medium">
    <ul class="menu custom-menu">
      <li><a href="{{root}}/contact.html">Contact</a></li>
    </ul>
  </div> <!-- top-bar-right -->

</div> <!-- top-bar -->

</header>
<!-- HEADER-END -->